.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width: 640px) {
        flex-direction: row;
    }
    a {
        padding: 1rem 1rem 1rem 0;
    }
}
